<template>
  <v-container fill-height>
    <v-layout>
        <v-flex>
          <v-row>
            <v-col
              cols="12"
              md="6"
            >
                <v-skeleton-loader
                  :loading="!(rowUsers.length)"
                  class="mx-auto"
                  max-width="600"
                  type="list-item-two-line@3"
                >
                  <v-card
                    class="mx-auto"
                    max-width="800"
                  >
                    <v-card-title>
                      Команда
                      <v-spacer />
                      <v-btn @click="changeOrder" icon mr-6>
                        <v-icon>mdi-sort-alphabetical-variant</v-icon>
                      </v-btn>
                    </v-card-title>
                    <v-list dense>
                      <template
                        v-for="(user, index) in team">
                        <v-list-item v-bind:key="`userTeam-${index}`">
                          <v-list-item-avatar>
                            <v-img :src="user.avatarURL"></v-img>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title>{{ user.login }}</v-list-item-title>
                            <v-list-item-subtitle>
                              <a :href="user.url">{{ user.url }}</a>
                            </v-list-item-subtitle>
                          </v-list-item-content>
                          <v-list-item-icon>
                            <v-btn @click="changeTeam(user.id)" icon>
                              <v-icon>mdi-account-minus</v-icon>
                            </v-btn>
                          </v-list-item-icon>
                        </v-list-item>
                        <v-divider v-bind:key="`userTeam-deliver-${index}`"></v-divider>
                      </template>
                    </v-list>
                  </v-card>
                </v-skeleton-loader>
            </v-col>
            <v-col
              cols="12"
              md="6"
            >
                <v-skeleton-loader
                  :loading="!(rowUsers.length)"
                  class="mx-auto"
                  max-width="800"
                  type="list-item-avatar-two-line@8"
                >
                  <v-card
                    class="mx-auto"
                    max-width="800"
                  >
                    <v-card-title>
                      <v-row>
                        <v-col
                          cols="12"
                          md="6" >
                          <span>Пользователи</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="6" >
                          <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Search"
                            solo
                            hide-details
                            ml-4
                          ></v-text-field>
                        </v-col>
                      </v-row>

                    </v-card-title>
                    <v-list dense>
                      <template
                        v-for="(user, index) in users">
                        <v-list-item v-bind:key="`user-${index}`">
                          <v-list-item-avatar>
                            <v-img :src="user.avatarURL"></v-img>
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title>{{ user.login }}</v-list-item-title>
                            <v-list-item-subtitle>
                              <a :href="user.url">{{ user.url }}</a>
                            </v-list-item-subtitle>
                          </v-list-item-content>
                          <v-list-item-icon>
                            <v-btn @click="changeTeam(user.id)" icon>
                              <v-icon>mdi-account-plus</v-icon>
                            </v-btn>
                          </v-list-item-icon>
                        </v-list-item>
                        <v-divider v-bind:key="`user-deliver-${index}`"></v-divider>
                      </template>
                    </v-list>
                  </v-card>
                </v-skeleton-loader>
            </v-col>
          </v-row>
        </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import { GET_NON_TEAM_USERS, GET_TEAM } from '../store/getter-types';
import { CHANGE_USER_TEAM_FROM_ID } from '../store/action-types';

export default {
  name: 'Team',
  computed: {
    ...mapState({
      rowUsers: 'users',
    }),
    ...mapGetters({
      getNonTeamUsers: GET_NON_TEAM_USERS,
      getTeam: GET_TEAM,
    }),
    users() {
      return this.getNonTeamUsers(this.search);
    },
    team() {
      return this.getTeam(this.order);
    },
  },
  methods: {
    ...mapActions({
      changeTeam: CHANGE_USER_TEAM_FROM_ID,
    }),
    changeOrder() {
      this.order = !this.order;
    },
  },
  data() {
    return {
      search: '',
      order: true,
    };
  },
};
</script>

<style scoped>

</style>
