<template>
  <v-container fill-height>
    <v-layout>
        <v-flex>
          <v-row justify="center">
            <v-col>
              <v-skeleton-loader
                :loading="!(user.url)"
                class="mx-auto"
                max-width="800"
                type="image, list-item, list-item-three-line@3, list-item-avatar-two-line@2"
              >
                <v-card
                    class="mx-auto"
                    max-width="800"
                  >
                    <a :href="user.url">
                      <v-img
                        class="white--text align-end"
                        height="300px"
                        max-height="30%"
                        :src="user.avatarURL"
                      >
                        <v-card-title
                          class="display-2 justify-center justify-sm-start ml-sm-12">
                          <p class="">{{ user.login }}</p>
                        </v-card-title>
                      </v-img>
                    </a>
                    <v-card-subtitle>
                      Дата создания аккаунта: {{ user.createDate | formateDate }}
                    </v-card-subtitle>
                    <v-expansion-panels flat>
                      <v-expansion-panel>
                        <v-expansion-panel-header v-if="user.repos">
                          Репозитории
                        </v-expansion-panel-header>
                        <v-expansion-panel-header v-else>
                          Loading...
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                          <v-list dense>
                            <template
                              v-for="(rep, index) in user.repos">
                              <v-list-item v-bind:key="`rep-${index}`">
                                <v-list-item-content>
                                  <v-list-item-title>
                                    <a :href="rep.url">{{ rep.name }}</a> - {{ rep.lang }}
                                  </v-list-item-title>
                                  <v-list-item-subtitle>
                                    <span>
                                      {{ rep.createDate | formateDate }}
                                      <span v-if="rep.description">- {{ rep.description }}</span>
                                    </span><br />
                                    <a :href="rep.cloneURL">{{ rep.cloneURL }}</a>
                                  </v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>
                              <v-divider v-bind:key="`rep-deliver-${index}`"></v-divider>
                            </template>
                            <v-list-item flat v-if="user.repos && user.repos.length === 0">
                              <v-list-item-content flat>
                                  <v-list-item-subtitle flat>Пусто</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                      <v-expansion-panel>
                        <v-expansion-panel-header
                          v-if="user.followings">
                          Подписки
                        </v-expansion-panel-header>
                        <v-expansion-panel-header v-else>
                          Loading...
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                          <v-list dense>
                            <template
                              v-for="(follower, index) in user.followings">
                              <v-list-item v-bind:key="`follower-${index}`">
                                <v-list-item-avatar>
                                  <v-img :src="follower.avatarURL"></v-img>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                  <v-list-item-title>{{ follower.login }}</v-list-item-title>
                                  <v-list-item-subtitle>
                                    <a :href="follower.url">{{ follower.url }}</a>
                                  </v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>
                              <v-divider v-bind:key="`follower-deliver-${index}`"></v-divider>
                            </template>
                            <v-list-item v-if="user.followings && user.followings.length === 0">
                              <v-list-item-content>
                                  <v-list-item-subtitle>Пусто</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                  </v-card>
              </v-skeleton-loader>
            </v-col>
          </v-row>
        </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'User',
  computed: {
    ...mapState(['user']),
  },
  mounted() {
  },
  filters: {
    formateDate(date) {
      return (new Date(date)).toLocaleString('ru', {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
      });
    },
  },
};
</script>

<style scoped lang="scss">
</style>
