<template>
  <v-app>
    <v-app-bar app color="primary" dark absolute elevate-on-scroll>
      <v-tabs centered>
        <v-tab to="/">
          Мой профиль
        </v-tab>
        <v-tab to="/team">
          Моя команда
        </v-tab>
      </v-tabs>
    </v-app-bar >
    <v-content>
      <transition name="page" mode="out-in">
        <router-view class="wrapper"/>
      </transition>
    </v-content>
  </v-app>
</template>

<script>
import { GET_MAIN_USER, GET_USERS } from './store/action-types';

export default {
  mounted() {
    this.$store.dispatch(GET_MAIN_USER);
    this.$store.dispatch(GET_USERS);
  },
};
</script>

<style scoped lang="scss">
  .page-enter-active, .page-leave-active {
    transition: transform 0.3s;
  }
  .page-enter {
    transform: translateX(-100vw);
  }
  .page-leave-to {
    transform: translateX(100vw);
  }
</style>
<style lang="scss">
  a {
    text-decoration: none;
  }
</style>
